@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --font-text: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--body-background);
  --text-color:#363636;
  --background: #f4f4f4;
  --secondary: #e3e3e3;
  --side: #e2e2e2;
  --body-background: #f0f0f0;
}

body.dark-mode {
  --text-color: #e2e2e2;
  --background: #363636;
  --secondary: #5e5e5e;
  --side: #494949;
  --body-background: #1a1a1a;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 1152px;
  height: 100%;
  margin: auto;
  transform: translate(-5vw, 0);
  border: 1px solid rgba(92, 92, 92, 0.2);
}

.side-nav {
  width: 20%;
  z-index: 100;
  background-color: var(--side);
}
.side-nav .nav {
  height: calc(100vh - 200px);
  width: 100px;
  position: sticky;
  top: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.side-nav .nav a {
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  font-size: 1.2em;
  margin-bottom: 20px;
  text-decoration: none;
}
.side-nav .nav div {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.side-nav .nav div i {
  color: var(--text-color);
}
.side-nav .nav div .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}
.side-nav .nav div .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.side-nav .nav div .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: 0.4s;
}
.side-nav .nav div .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 12px;
  left: 4px;
  bottom: 3px;
  background-color: var(--text-color);
  transition: 0.4s;
}
.side-nav .nav div input:checked + .slider {
  background-color: var(--background);
}
.side-nav .nav div input:focus + .slider {
  box-shadow: 0 0 1px var(--text-color);
}
.side-nav .nav div input:checked + .slider:before {
  transform: translateX(20px);
}

.bot-nav {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 3em;
  width: 100%;
  box-shadow: 2px 2px 5px 2px rgba(54, 54, 54, 0.25);
  border: 1px solid rgba(92, 92, 92, 0.1);
  transition: transform 0.25s;
  cursor: pointer;
  z-index: 99;
  background-color: var(--secondary);
}
.bot-nav:hover {
  transform: translate(0, -0.5em);
}
.bot-nav .nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.bot-nav .nav a {
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

.content-wrapper {
  position: relative;
  width: 100%;
  margin: auto;
  background-color: var(--background);
}

.section-title {
  margin-left: calc(96px + 4em);
}
.section-title h2 {
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: 400;
  font-style: normal;
  font-size: 46px;
}
.section-title h4 {
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
}

.section-blurb {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 80%;
  min-height: 220px;
  margin: 32px auto;
  background-color: var(--secondary);
  border-radius: 5px;
  padding: 1em;
  box-shadow: 2px 2px 5px 2px rgba(54, 54, 54, 0.25);
  border: 1px solid rgba(92, 92, 92, 0.1);
  transition: transform 0.25s;
  cursor: pointer;
}
.section-blurb:hover {
  transform: translate(0, -0.5em);
}
.section-blurb .img-wrappers {
  display: flex;
  flex-direction: column;
  width: 256px;
}
.section-blurb .img-wrappers .project-img {
  height: 135px;
  width: 256px;
  position: relative;
}
.section-blurb .img-wrappers .project-img img {
  height: 135px;
  width: 256px;
}
.section-blurb .img-wrappers .project-img::after {
  content: "Click to Open";
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--secondary);
  height: 0px;
  width: 256px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 1s;
  background-color: var(--text-color);
}
.section-blurb .img-wrappers .project-img:hover::after {
  opacity: 90%;
  height: 2em;
}
.section-blurb .img-wrappers .project-programs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 48px;
}
.section-blurb .img-wrappers .project-programs i {
  color: var(--text-color);
}
.section-blurb .img-wrappers .project-programs p {
  margin: 12px;
}
.section-blurb .blurb-text-wrapper {
  position: relative;
  width: 100%;
  padding: 0;
  height: 100%;
}
.section-blurb .blurb-text-wrapper .blurb-text-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 1em;
}
.section-blurb .blurb-text-wrapper .blurb-text-head h2 {
  margin: 0;
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}
.section-blurb .blurb-text-wrapper .blurb-text-head h4 {
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
.section-blurb .blurb-text-wrapper .blurb-text-head h6 {
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 150%;
  padding: 0;
  margin: 0;
}
.section-blurb .blurb-text-wrapper p {
  margin-left: 2em;
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  text-wrap: wrap;
}
.section-blurb .blurb-text-wrapper hr {
  width: 60%;
  height: 2px;
  background-color: var(--text-color);
  margin: auto;
}
.section-blurb .blurb-text-wrapper .blurb-text {
  display: none;
  opacity: 0;
}
.section-blurb .more-info {
  position: absolute;
  right: 1em;
  bottom: 0.5em;
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  line-height: 60%;
}
.section-blurb .more-info:hover {
  cursor: pointer;
}

.mini-blurb {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 32px auto;
  background-color: var(--secondary);
  border-radius: 5px;
  padding: 1em;
  box-shadow: 2px 2px 5px 2px rgba(54, 54, 54, 0.25);
  border: 1px solid rgba(92, 92, 92, 0.1);
  transition: transform 0.25s;
  cursor: pointer;
}
.mini-blurb:hover {
  transform: translate(0, -0.5em);
}
.mini-blurb .blurb-text-wrapper {
  position: relative;
  width: 100%;
  padding: 0;
  height: 100%;
}
.mini-blurb .blurb-text-wrapper .blurb-text-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 1em;
}
.mini-blurb .blurb-text-wrapper .blurb-text-head h2 {
  margin: 0;
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}
.mini-blurb .blurb-text-wrapper .blurb-text-head h4 {
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
.mini-blurb .blurb-text-wrapper .blurb-text-head h6 {
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 150%;
  padding: 0;
  margin: 0;
}
.mini-blurb .blurb-text-wrapper p {
  margin-left: 2em;
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  text-wrap: wrap;
}
.mini-blurb .blurb-text-wrapper hr {
  width: 60%;
  height: 2px;
  background-color: var(--text-color);
  margin: auto;
}
.mini-blurb .blurb-text-wrapper .blurb-text {
  display: none;
  opacity: 0;
}
section {
  min-height: 955px;
  opacity: 0;
}

.all-proj {
  position: absolute;
  bottom: 0;
  right: 3em;
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  font-size: 12px;
}

.hover-text {
  position: relative;
}

.hover-text::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -5px;
  left: -4px;
  transform: scaleX(0);
  box-shadow: 0 2px 0 var(--text-color);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.hover-text:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.section-intro {
  position: relative;
  height: 100vh;
  padding-bottom: 100px;
}
.section-intro .name-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fade-in 1s ease-in 0.25s 1 forwards, title-lift 1s ease-out 2s 1 forwards;
}
.section-intro .name-title h1 {
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  animation: title-grow 1s ease-out 2s 1 forwards;
  text-align: center;
}
.section-intro .intro-content {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  opacity: 0;
  animation-delay: 3s;
  animation: fade-in 1s ease-out 3s 1 forwards;
}
.section-intro .intro-content h4 {
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
.section-intro .intro-content h3 {
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.section-intro .intro-content .about {
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  padding-bottom: 1em;
  text-align: center;
}
.section-intro .intro-content .about a {
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
}
.section-intro .intro-content .about a:visited {
  filter: brightness(60%);
}
.section-intro .intro-content .lists .list {
  width: 600px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.section-intro .intro-content .lists .list li {
  margin: 5px;
  padding: 6px 10px;
  border-radius: 10px;
  background-color: var(--secondary);
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  box-shadow: 2px 2px 5px 2px rgba(54, 54, 54, 0.25);
  border: 1px solid rgba(92, 92, 92, 0.1);
}

.section-projects {
  padding-bottom: 100px;
}
.section-projects .expand {
  min-height: 220px;
}

.section-experience {
  padding-bottom: 100px;
}
.section-experience .blurb-text {
  padding-left: 1em;
}
.section-experience .expand {
  min-height: 220px;
}

.section-contact p {
  margin-top: 5%;
  text-align: center;
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
}
.section-contact .contact-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 4em auto;
}
.section-contact .contact-wrapper label {
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}
.section-contact .contact-wrapper .input {
  width: 100%;
  padding: 12px 20px;
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  color: #363636;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 2px 2px 5px 2px rgba(54, 54, 54, 0.25);
  border: 1px solid rgba(92, 92, 92, 0.1);
  margin-bottom: 2em;
}
.section-contact .contact-wrapper .input:focus {
  border: none;
}
.section-contact .contact-wrapper .submit {
  width: 100%;
  padding: 12px 20px;
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 2em;
  background-color: var(--secondary);
  box-shadow: 2px 2px 5px 2px rgba(54, 54, 54, 0.25);
  border: 1px solid rgba(92, 92, 92, 0.1);
  transition: transform 0.25s;
  cursor: pointer;
}
.section-contact .contact-wrapper .submit:hover {
  transform: translate(0, -0.5em);
}
.section-contact .contact-wrapper textarea {
  resize: none;
}
.section-contact .contact-btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 1em;
}
.section-contact .contact-btn-wrapper i {
  margin: 0.5em;
  color: var(--text-color);
}
.section-contact .contact-btn-wrapper .link {
  color: var(--text-color);
  transition: 0.25s;
}
.section-contact .contact-btn-wrapper .link:hover {
  transform: translate(0, -0.5em);
}

#error-cursor {
  position: absolute; /* Required */
  padding: 0.5em;
  box-shadow: 2px 2px 5px 2px rgba(54, 54, 54, 0.25);
  border: 1px solid rgba(92, 92, 92, 0.1);
  background-color: var(--secondary);
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
}

.attributions p {
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  font-size: 14px;
}

.error-pop {
  position: fixed;
  bottom: -6em;
  right: 2em;
  min-width: 300px;
  background-color: var(--secondary);
  box-shadow: 2px 2px 5px 2px rgba(54, 54, 54, 0.25);
  border: 1px solid rgba(92, 92, 92, 0.1);
  transition: transform 0.25s;
  cursor: pointer;
  transition: animation 2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
}
.error-pop:hover {
  transform: translate(0, -0.5em);
}
.error-pop i {
  padding: 0.5em;
}
.error-pop p {
  padding: 0.5em;
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  margin: 0;
}

.modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.modal-wrapper .modal-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
.modal-wrapper .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 800px;
  width: 600px;
  background-color: var(--background);
}
.modal-wrapper .modal h3 {
  font-family: var(--font-text);
  color: var(--text-color);
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  text-align: center;
}

.modal-active {
  display: inherit;
}

.expand {
  min-height: 420px;
}

.active {
  animation: slide-in 0.5s ease-in 0.25s 1 forwards;
}

.inactive {
  animation: slide-in 0.5s ease-in 0.25s 1 forwards reverse;
}

.show {
  display: inherit;
}

.hide {
  display: none;
}

.popup {
  animation: error-popup 5s ease-in 0s 1 forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@keyframes slide-in {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 100%;
  }
}
@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}
@keyframes title-lift {
  0% {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
  }
  100% {
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    font-size: 46px;
  }
}
@keyframes title-grow {
  0% {
    font-size: 16px;
  }
  100% {
    font-size: 46px;
  }
}
@keyframes m-title-lift {
  0% {
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    font-size: 16px;
  }
  100% {
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    font-size: 46px;
  }
}
@keyframes error-popup {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(0, -8em);
  }
  90% {
    transform: translate(0, -8em);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes m-error-popup {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(0, -10em);
  }
  90% {
    transform: translate(0, -10em);
  }
  100% {
    transform: translate(0, 0);
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1200px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-width: 0;
    height: 100%;
    margin: auto;
    transform: translate(0, 0);
  }
  .section-title {
    margin-left: 2em;
  }
  .section-title h2 {
    font-family: var(--font-text);
    color: var(--text-color);
    font-weight: 400;
    font-style: normal;
    font-size: 46px;
  }
  .section-blurb {
    flex-direction: column;
    width: 90%;
    min-height: 420px;
    margin: 32px auto;
    background-color: var(--secondary);
  }
  .section-blurb .img-wrappers {
    flex-direction: column;
    margin: auto;
  }
  .section-blurb .blurb-text-wrapper {
    position: relative;
    width: 100%;
    padding: 0;
    margin-left: 0;
  }
  .section-blurb .blurb-text-wrapper .blurb-text-head {
    flex-direction: column;
    align-items: normal;
    justify-content: space-between;
  }
  .section-blurb .blurb-text-wrapper .blurb-text-head h2 {
    text-align: start;
    margin: 0.5em 0 0;
    font-family: var(--font-text);
    color: var(--text-color);
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
  }
  .section-blurb .blurb-text-wrapper .blurb-text-head h6 {
    margin: 0.5em 0 0;
  }
  .section-blurb .blurb-text-wrapper .blurb-text-head h4 {
    font-family: var(--font-text);
    color: var(--text-color);
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin: 0.5em 0 0;
  }
  .section-blurb .blurb-text-wrapper p {
    margin-left: 0;
    font-family: var(--font-text);
    color: var(--text-color);
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    text-wrap: wrap;
  }
  .section-blurb .blurb-text-wrapper .blurb-text {
    margin: 0;
    display: none;
    opacity: 0;
  }
  .section-blurb .blurb-text-wrapper .blurb-text p {
    font-size: 14px;
  }
  .bot-nav {
    display: inherit;
  }
  .side-nav {
    display: none;
  }
  .section-intro {
    height: 120vh;
    padding-bottom: 100px;
  }
  .section-intro .name-title {
    top: 25%;
    width: 100%;
    animation: fade-in 1s ease-in 0.25s 1 forwards, m-title-lift 1s ease-out 2s 1 forwards;
  }
  .section-intro .intro-content {
    top: 15%;
    transform: translate(-50%, 0);
    width: 80%;
  }
  .section-intro .intro-content .lists .list {
    padding-bottom: 1em;
    width: 100%;
  }
  .section-intro .intro-content .lists .list li {
    font-size: 12px;
  }
  .section-projects .expand {
    min-height: 550px;
  }
  .section-experience .section-blurb {
    min-height: 120px;
  }
  .section-experience .expand {
    min-height: 550px;
  }
  .section-contact {
    padding-bottom: 0;
  }
  .section-contact p {
    margin-top: 10%;
    text-align: center;
    font-family: var(--font-text);
    color: var(--text-color);
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
  }
  .section-contact .contact-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2em auto;
  }
  .section-contact .contact-wrapper .input:focus {
    border: none;
  }
  .section-contact .contact-wrapper .submit {
    margin-bottom: 0;
  }
  .modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 0;
  }
  .modal-wrapper .modal-bg {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }
  .modal-wrapper .modal {
    height: 80%;
    width: 90%;
  }
  .modal-wrapper h3 {
    font-family: var(--font-text);
    color: var(--text-color);
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    text-align: center;
  }
  .error-pop {
    max-width: 200px;
  }
  .popup {
    animation: m-error-popup 5s ease-in 0s 1 forwards;
  }
}/*# sourceMappingURL=stylesheet.css.map */