@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



$global-margin: 10px;


:root{
    --font-text: "Montserrat", sans-serif;
}

@mixin proxyborder($color){
    border:1px solid $color;
}

@mixin text($weight){
    font-family: var(--font-text);
    color:var(--text-color);;
    font-weight: $weight;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
}

@mixin title($size){
    font-family: var(--font-text);
    color:var(--text-color);;
    font-weight: 400;
    font-style: normal;
    font-size: $size;
}

@mixin shadow(){
    box-shadow: 2px 2px 5px 2px rgba($color: #363636, $alpha: .25);
    border: 1px solid rgba($color: #5c5c5c, $alpha: .1);
}

@mixin button(){
    @include shadow;
    transition: transform .25s;
    cursor: pointer;
    &:hover{
        transform: translate(0, -.5em);
    }
}

//---------------------------------
//  Global Selectors
// --------------------------------
*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--body-background);
    --text-color:#363636;
    --background: #f4f4f4;
    --secondary: #e3e3e3;
    --side: #e2e2e2;
    --body-background: #f0f0f0;
}


body.dark-mode{
    --text-color: #e2e2e2;
    --background: #363636;
    --secondary: #5e5e5e;
    --side: #494949;
    --body-background: #1a1a1a;
}

.wrapper{
    display:flex;
    flex-direction: row;
    width:1152px;
    height:100%;
    margin:auto;
    transform: translate(-5vw ,0);
    border: 1px solid rgba($color: #5c5c5c, $alpha: .2);
}

.side-nav{
    width:calc(100% * 0.2);
    z-index: 100;
    background-color: var(--side);;
    

    .nav{
        height: calc(100vh - 200px);
        width: 100px;
        position: sticky;
        top:100px;
        margin:auto;
        display: flex;
        flex-direction: column;

        a{
            
            @include text(400);
            font-size: 1.2em;
            margin-bottom:20px;
            text-decoration: none;
        }
        div{
            position: absolute;
            bottom:0;
            width:100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            i{
                color: var(--text-color);
            }
            .switch {
                position: relative;
                display: inline-block;
                width: 40px;
                height: 24px;
            }
            
            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: var(--background);
                -webkit-transition: .4s;
                transition: .4s;
            }
            
            .slider:before {
                position: absolute;
                content: "";
                height: 18px;
                width: 12px;
                left: 4px;
                bottom: 3px;
                background-color: var(--text-color);
                -webkit-transition: .4s;
                transition: .4s;
            }
            
            input:checked + .slider {
                background-color: var(--background);
            }
            
            input:focus + .slider {
                box-shadow: 0 0 1px var(--text-color);
            }
            
            input:checked + .slider:before {
                -webkit-transform: translateX(20px);
                -ms-transform: translateX(20px);
                transform: translateX(20px);
            }
            
        }

    }

}


.bot-nav{
    display:none;
    position: fixed;
    bottom:0;
    left:0;
    height:3em;
    width:100%;
    @include button;
    z-index: 99;
    background-color: var(--secondary);;
    .nav{
        
        height:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        a{
            @include text(400);
            text-decoration: 0;
        }
    }
}


.content-wrapper{
    position: relative;
    width:100%;
    margin:auto;
    background-color: var(--background);;
}

.section-title{
    margin-left: calc(96px + 4em);
    h2{
        @include title(46px);
    }
    h4{
        @include text(400);
    }
}

.section-blurb{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 80%;
    min-height:220px;
    margin: 32px auto;
    background-color: var(--secondary);;
    border-radius: 5px;
    padding:1em;
    @include button;

    .img-wrappers{
       
        display: flex;
        flex-direction: column;
        width:256px;
        .project-img{
            height:135px;
            width:256px;
            position: relative;
            //background-color: grey;
            img{
                height:135px;
                width:256px;
            }
            &::after{
                content: 'Click to Open';
                @include text(400);
                text-align: center;
                color:var(--secondary);
                height: 0px;
                width:256px;
                position: absolute;
                bottom:0;
                left:0;
                opacity: 0;
                transition: 1s;
                background-color: var(--text-color);
            }
            &:hover::after{
                opacity: 90%;
                height: 2em;
            }


        }

        .project-programs{
            display: flex;
            flex-direction: row;
            justify-content: center;
            height:48px;
            i{
                color: var(--text-color);
            }
            p{
                margin:12px;
            }
        }
    }

    .blurb-text-wrapper{
        position: relative;
        width:100%;
        padding:0;
        height:100%;
        .blurb-text-head{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-left:1em;
          h2{
            margin:0;
            @include title(32px)
        }
            h4{
                @include title(16px);
                padding:0;
                margin: 0;
            }  
            h6{
                @include title(12px);
                line-height:150%;
                padding:0;
                margin:0;
            }
        }
        p{
            margin-left: 2em;
            @include text(500);
            text-wrap: wrap;
        }
        hr{
            width:60%;
            height:2px;
            background-color: var(--text-color);;
            margin:auto;
        }
        .blurb-text{
            display: none;
            opacity: 0;
            .proj-link{

            }
        }
        
    }

    .more-info{
        position: absolute;
        right:1em;
        bottom:.5em;
        @include text(500);
        line-height:60%;

    }
    .more-info:hover{
        cursor: pointer;
    }
}

.mini-blurb{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 32px auto;
    background-color: var(--secondary);;
    border-radius: 5px;
    padding:1em;
    @include button;


    .blurb-text-wrapper{
        position: relative;
        width:100%;
        padding:0;
        height:100%;
        .blurb-text-head{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-left:1em;
          h2{
            margin:0;
            @include title(32px)
        }
            h4{
                @include title(16px);
                padding:0;
                margin: 0;
            }  
            h6{
                @include title(12px);
                line-height:150%;
                padding:0;
                margin:0;
            }
        }
        p{
            margin-left: 2em;
            @include text(500);
            text-wrap: wrap;
        }
        hr{
            width:60%;
            height:2px;
            background-color: var(--text-color);;
            margin:auto;
        }
        .blurb-text{
            display: none;
            opacity: 0;
            .proj-link{

            }
        }
        
    }

}

section{
    //min-height:100vh;
    min-height:955px;
    opacity: 0;
}

.all-proj{
        position: absolute;
        bottom:0;
        right:3em;
        @include text(600);
        font-size: 12px;
}

.hover-text{
    position: relative;
    //text-shadow:-6px 6px 0 #E8476A, -9px 9px 0 purple;

}

.hover-text::after{
content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -5px;
  left: -4px;
  transform: scaleX(0);
  box-shadow:0 2px 0 var(--text-color);;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.hover-text:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}



//---------------------------------
//  Section Selectors
// --------------------------------

.section-intro{
    position: relative;
    height:100vh;
    padding-bottom:100px;
    .name-title{
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        animation: fade-in 1s ease-in 0.25s 1 forwards, title-lift 1s ease-out 2s 1 forwards;
        h1{
            @include title(16px);
            animation: title-grow 1s ease-out 2s 1 forwards;
            text-align: center;
        }
    }
    .intro-content{
        position: absolute;
        left:50%;
        top:40%;
        transform: translate(-50%, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        width:80%;
        opacity: 0;
        animation-delay: 3s;
        animation: fade-in 1s ease-out 3s 1 forwards;
        h4{
            @include title(16px);
        }
        h3{
            @include title(16px);
            font-weight: 500;
            text-align: center;
            
        }
        .about{
            @include text(400);
            padding-bottom: 1em;
            text-align: center;
            a{
                @include text(400);
            }
            a:visited{
                filter: brightness(60%);
            }

        }
        .lists{
            
            .list{
                width:600px;
                list-style-type: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                li{
                    margin:5px;
                    padding: 6px 10px;
                    border-radius: 10px;
                    background-color: var(--secondary);
                    @include text(400);
                    @include shadow;
                }
            }
        }
        
    }

}

.section-projects{
    padding-bottom:100px;
    .expand{
        min-height:220px;
    }
}

.section-experience{
    padding-bottom:100px;
    .blurb-text{
        padding-left: 1em;
    }

    .expand{
        min-height:220px;
    }
}

.section-contact{
    p{
        margin-top:5%;
        text-align: center;
        @include text(500);
    }  
    

    .contact-wrapper{
        display:flex;
        flex-direction: column;
        width: 50%;
        margin:4em auto;
        
    
        label{
            @include text(500);
            text-align: center;
        }


        .input{
            width: 100%;
            padding: 12px 20px;
            @include text(500);
            color:#363636;
            border-radius: 5px;
            border:none;
            outline:none;
            @include shadow;
            margin-bottom:2em;
        }
        .input:focus{
            border: none;
        }
        .submit{
            width: 100%;
            padding: 12px 20px;
            @include text(500);
            border-radius: 5px;
            border:none;
            outline:none;
            margin-bottom:2em;
            background-color: var(--secondary);;
            @include button();
            
        }
        textarea{
            resize: none;
            
        }

    }
    .contact-btn-wrapper{
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top:3em;
        margin-bottom: 1em;
        i{
            margin:.5em;
            color: var(--text-color);
        }
        .link{
            color:var(--text-color);;
            transition: .25s;
        }
        .link:hover{
            transform: translate(0, -.5em);
        }
    }
    
}

#error-cursor{
    position: absolute;   /* Required */
    //display: none;
    padding:.5em;
    @include shadow;
    background-color: var(--secondary);;
    @include text(400)
    
}

.attributions{
    p{   
        @include text(300);
        text-align: center;
        font-size: 14px;
    }
    
}

.error-pop{
    position: fixed;
    bottom: -6em;
    right:2em;
    min-width:300px;
    background-color: var(--secondary);;
    @include button();
    transition: animation 2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:.5em 1em;
    i{
        padding:.5em;
    }
    p{
        padding:.5em;
        @include text(600);
        text-align: center;
        margin:0;
    }
}

//---------------------------------
//  Modal Selectors
// --------------------------------

.modal-wrapper{
    display:none;
    position: fixed;

    top:0;
    left:0;
    height:100vh;
    width:100vw;
    .modal-bg{
        position: absolute;
        left:0;
        top:0;
        height:100%;
        width:100%;
        background-color: rgba($color: black, $alpha: .75);
    }
    .modal{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        height:800px;
        width:600px;
        background-color: var(--background);;
        h3{
            @include title(2em);
            text-align: center;
        }
    }


}

.modal-active{
    display:inherit;
}

//---------------------------------
//  Animation Selectors
// --------------------------------

.expand{
    min-height:420px;
}

.reveal{
}

.active{
    animation: slide-in .5s ease-in .25s 1 forwards;
}

.inactive{
    animation: slide-in .5s ease-in .25s 1 forwards reverse;
}

.show{
    display:inherit;
}
.hide{
    display:none;
}

.popup{
    animation: error-popup 5s ease-in 0s 1 forwards ;
}



//---------------------------------
//  Keyframe
// --------------------------------

@keyframes fade-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 100%;
    }
}

@keyframes slide-in {
    from{
        transform: translateY(10px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes fade-out {
    from{
        opacity: 100%;
    }
    to{
        opacity: 0;
    }
}

@keyframes title-lift {
    0%{
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
        font-size: 16px;

    }
    100%{
        left:50%;
        top:35%;
        transform:translate(-50%, -50%);
        font-size: 46px;

    }
}

@keyframes title-grow {
    0%{
        font-size: 16px;
    }
    100%{  
        font-size: 46px;
    }
}

@keyframes m-title-lift {
    0%{
        left:50%;
        top:25%;
        transform: translate(-50%, -50%);
        font-size: 16px;

    }
    100%{
        left:50%;
        top:10%;
        transform:translate(-50%, -50%);
        font-size: 46px;

    }
}

@keyframes error-popup{
    0%{
        //opacity: 0;
        transform: translate(0, 0);
    }
    10%{
        transform: translate(0, -8em);
    }
    90%{
        transform: translate(0, -8em);
    }
    100%{
        //opacity: 100%;
        transform: translate(0, 0);
    }
}

@keyframes m-error-popup{
    0%{
        //opacity: 0;
        transform: translate(0, 0);
    }
    10%{
        transform: translate(0, -10em);
    }
    90%{
        transform: translate(0, -10em);
    }
    100%{
        //opacity: 100%;
        transform: translate(0, 0);
    }
}

//---------------------------------
//  Media Selectors
// --------------------------------

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1200px) {
    .wrapper{
        display:flex;
        flex-direction: row;
        width:100vw;
        min-width:0;
        height:100%;
        margin:auto;
        transform: translate(0 ,0);
    }

    .section-title{
        margin-left: 2em;
        h2{
            @include title(46px);
        }
    }

    .section-blurb{
        flex-direction: column;
        width: 90%;
        min-height:420px;
        margin: 32px auto;
        background-color: var(--secondary);;
        .img-wrappers{
            flex-direction: column;
            margin:auto;
        }
    
        
    .blurb-text-wrapper{
        position: relative;
        width:100%;
        padding:0;
        margin-left: 0;
        .blurb-text-head{
            flex-direction: column;
            align-items: normal;
            justify-content: space-between;
          h2{
            text-align: start;
            margin:.5em 0 0;
            @include title(24px)
            }
            h6{
                margin:.5em 0 0;
            }
            h4{
                @include title(16px);
                margin:.5em 0 0;
            }  
        }
        p{
            margin-left: 0;
            @include text(500);
            text-wrap: wrap;
        }
        .blurb-text{
            margin: 0;
            display: none;
            opacity: 0;
            p{
                font-size: 14px;
            }
            
        }
        
    }



    }
    
    .bot-nav{
        display: inherit;
    }

    .side-nav{
        display: none;
    }

    .section-intro{
        height:120vh;
        padding-bottom:100px;
        .name-title{
            top:25%;
            width: 100%;
            animation: fade-in 1s ease-in 0.25s 1 forwards, m-title-lift 1s ease-out 2s 1 forwards;
        }
        .intro-content{
            top:15%;
            transform: translate(-50%, 0);
            width:80%;
            .lists{
                .list{
                    padding-bottom: 1em;
                    width:100%;
                    li{

                        font-size: 12px;
                    }
                }
            }
            
        }
    
    }

    .section-projects{
        .expand{
            min-height:550px;
        }
    }

    .section-experience{

        .section-blurb{
            min-height:120px;
        }

        .expand{
            min-height:550px;
        }
    }

    .section-contact{
        p{
            margin-top:10%;
            text-align: center;
            @include text(500);
        }
    
        .contact-wrapper{
            display:flex;
            flex-direction: column;
            width: 80%;
            margin:2em auto;

            .input:focus{
                border: none;
            }
            .submit{
                margin-bottom:0;

            }
        }

        padding-bottom:0;
    }

    .modal-wrapper{
        position: fixed;
        top:0;
        left:0;
        height:100vh;
        width:100vw;
        padding:0;

        .modal-bg{
            padding:0;
            margin:0;
            height:100%;
            width:100%;
        }
        .modal{
            height:80%;
            width:90%;
        }
        h3{
            @include title(2em);
            text-align: center;
        }
    
    }

    .error-pop{
        max-width:200px;
    }
    .popup{
        animation: m-error-popup 5s ease-in 0s 1 forwards ;
    }
    

}



