@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 60vw;
  min-width: 1152px;
  height: 100%;
  margin: auto;
  transform: translate(-5vw, 0);
}

.side-nav {
  width: 20%;
  z-index: 100;
  background-color: #e2e2e2;
  transition: 2s;
}
.side-nav .nav {
  height: 100px;
  width: 100px;
  position: sticky;
  top: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.side-nav .nav a {
  font-family: "Montserrat", sans-serif;
  color: #363636;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 20px;
  text-decoration: none;
}

.bot-nav {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 3em;
  width: 100%;
  box-shadow: 2px 2px 5px 1px rgba(54, 54, 54, 0.2);
  transition: 0.25s;
  cursor: pointer;
  z-index: 99;
  background-color: #e3e3e3;
}
.bot-nav:hover {
  transform: translate(0, -0.5em);
}
.bot-nav .nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.bot-nav .nav a {
  font-family: "Montserrat", sans-serif;
  color: #363636;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

.content-wrapper {
  position: relative;
  width: 100%;
  margin: auto;
  background-color: #f4f4f4;
}

.section-title {
  margin-left: calc(96px + 4em);
}
.section-title h2 {
  font-family: "Montserrat", sans-serif;
  color: #363636;
  font-weight: 400;
  font-style: normal;
  font-size: 46px;
}
.section-title h4 {
  font-family: "Montserrat", sans-serif;
  color: #363636;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
}

.section-blurb {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 80%;
  min-height: 220px;
  margin: 32px auto;
  background-color: #e3e3e3;
  padding: 1em;
  box-shadow: 2px 2px 5px 1px rgba(54, 54, 54, 0.2);
  transition: 0.25s;
  cursor: pointer;
}
.section-blurb:hover {
  transform: translate(0, -0.5em);
}
.section-blurb .img-wrappers {
  display: flex;
  flex-direction: column;
  width: 256px;
}
.section-blurb .img-wrappers .project-img {
  height: 135px;
  width: 256px;
  background-color: grey;
}
.section-blurb .img-wrappers .project-programs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 48px;
}
.section-blurb .img-wrappers .project-programs p {
  margin: 12px;
}
.section-blurb .blurb-text-wrapper {
  position: relative;
  width: 100%;
  padding: 0;
}
.section-blurb .blurb-text-wrapper .blurb-text-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 1em;
}
.section-blurb .blurb-text-wrapper .blurb-text-head h2 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #363636;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}
.section-blurb .blurb-text-wrapper .blurb-text-head h4 {
  font-family: "Montserrat", sans-serif;
  color: #363636;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
.section-blurb .blurb-text-wrapper p {
  margin-left: 2em;
  font-family: "Montserrat", sans-serif;
  color: #363636;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  text-wrap: wrap;
}
.section-blurb .blurb-text-wrapper .blurb-text {
  display: none;
  opacity: 0;
}
.section-blurb .more-info {
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
  font-family: "Montserrat", sans-serif;
  color: #363636;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  line-height: 60%;
}
.section-blurb .more-info:hover {
  cursor: pointer;
}

section {
  min-height: 100vh;
  opacity: 0;
}

.all-proj {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "Montserrat", sans-serif;
  color: #363636;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  font-size: 12px;
  width: 15em;
}

.hover-text::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  margin-top: 2px;
  background: #000;
  transition: transform 0.2s ease-in-out;
  transform: scale(0);
}

.hover-text:hover::after {
  transform: scale(1);
}

.section-intro {
  position: relative;
  height: 100vh;
  padding-bottom: 100px;
}
.section-intro .name-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fade-in 1s ease-in 0.25s 1 forwards, title-lift 1s ease-out 2s 1 forwards;
}
.section-intro .name-title h1 {
  font-family: "Montserrat", sans-serif;
  color: #363636;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  animation: title-grow 1s ease-out 2s 1 forwards;
  text-align: center;
}
.section-intro .intro-content {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  opacity: 0;
  animation-delay: 3s;
  animation: fade-in 1s ease-out 3s 1 forwards;
}
.section-intro .intro-content h4 {
  font-family: "Montserrat", sans-serif;
  color: #363636;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
.section-intro .intro-content h3 {
  font-family: "Montserrat", sans-serif;
  color: #363636;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.section-intro .intro-content .about {
  font-family: "Montserrat", sans-serif;
  color: #363636;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  padding-bottom: 1em;
  text-align: center;
}
.section-intro .intro-content .lists .list {
  width: 600px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.section-intro .intro-content .lists .list li {
  margin: 5px;
  padding: 6px 10px;
  border-radius: 10px;
  background-color: #e3e3e3;
  font-family: "Montserrat", sans-serif;
  color: #363636;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  box-shadow: 2px 2px 5px 1px rgba(54, 54, 54, 0.2);
}

.section-projects {
  padding-bottom: 100px;
}

.section-experience {
  padding-bottom: 100px;
}
.section-experience .blurb-text {
  padding-left: 1em;
}
.section-experience .expand {
  min-height: 420px;
}

.section-contact {
  padding-bottom: 100px;
}
.section-contact p {
  margin-top: 10%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #363636;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
}
.section-contact .contact-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 4em auto;
}
.section-contact .contact-wrapper label {
  font-family: "Montserrat", sans-serif;
  color: #363636;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}
.section-contact .contact-wrapper textarea {
  resize: none;
}
.section-contact .contact-wrapper .input {
  width: 100%;
  padding: 12px 20px;
  font-family: "Montserrat", sans-serif;
  color: #363636;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 2px 2px 5px 1px rgba(54, 54, 54, 0.2);
  margin-bottom: 2em;
}
.section-contact .contact-wrapper .input:focus {
  border: none;
}
.section-contact .contact-wrapper .submit {
  width: 100%;
  padding: 12px 20px;
  font-family: "Montserrat", sans-serif;
  color: #363636;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 2em;
  background-color: #e3e3e3;
  box-shadow: 2px 2px 5px 1px rgba(54, 54, 54, 0.2);
  transition: 0.25s;
  cursor: pointer;
}
.section-contact .contact-wrapper .submit:hover {
  transform: translate(0, -0.5em);
}
.section-contact .contact-btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3em;
}
.section-contact .contact-btn-wrapper i {
  margin: 0.5em;
}
.section-contact .contact-btn-wrapper .link {
  color: #363636;
  transition: 0.25s;
}
.section-contact .contact-btn-wrapper .link:hover {
  transform: translate(0, -0.5em);
}

#error-cursor {
  position: absolute; /* Required */
  padding: 0.5em;
  box-shadow: 2px 2px 5px 1px rgba(54, 54, 54, 0.2);
  background-color: #e3e3e3;
  font-family: "Montserrat", sans-serif;
  color: #363636;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
}

.modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.modal-wrapper .modal-bg {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
.modal-wrapper .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 800px;
  width: 600px;
  background-color: #e3e3e3;
}

.modal-active {
  display: inherit;
}

.expand {
  height: 420px;
}

.active {
  animation: slide-in 0.5s ease-in 0.25s 1 forwards;
}

.inactive {
  animation: slide-in 0.5s ease-in 0.25s 1 forwards reverse;
}

.show {
  display: inherit;
}

.hide {
  display: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@keyframes slide-in {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 100%;
  }
}
@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}
@keyframes title-lift {
  0% {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
  }
  100% {
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    font-size: 46px;
  }
}
@keyframes title-grow {
  0% {
    font-size: 16px;
  }
  100% {
    font-size: 46px;
  }
}
@keyframes m-title-lift {
  0% {
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    font-size: 16px;
  }
  100% {
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    font-size: 46px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1200px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-width: 0;
    height: 100%;
    margin: auto;
    transform: translate(0, 0);
  }
  .section-title {
    margin-left: 2em;
  }
  .section-title h2 {
    font-family: "Montserrat", sans-serif;
    color: #363636;
    font-weight: 400;
    font-style: normal;
    font-size: 46px;
  }
  .section-blurb {
    flex-direction: column;
    width: 90%;
    min-height: 420px;
    margin: 32px auto;
    background-color: #e3e3e3;
  }
  .section-blurb .img-wrappers {
    flex-direction: column;
    margin: auto;
  }
  .section-blurb .blurb-text-wrapper {
    position: relative;
    width: 100%;
    padding: 0;
    margin-left: 0;
  }
  .section-blurb .blurb-text-wrapper .blurb-text-head {
    flex-direction: column;
    align-items: normal;
    justify-content: space-between;
  }
  .section-blurb .blurb-text-wrapper .blurb-text-head h2 {
    text-align: start;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: #363636;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
  }
  .section-blurb .blurb-text-wrapper .blurb-text-head h4 {
    font-family: "Montserrat", sans-serif;
    color: #363636;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }
  .section-blurb .blurb-text-wrapper p {
    margin-left: 0;
    font-family: "Montserrat", sans-serif;
    color: #363636;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    text-wrap: wrap;
  }
  .section-blurb .blurb-text-wrapper .blurb-text {
    margin: 0;
    display: none;
    opacity: 0;
  }
  .section-blurb .blurb-text-wrapper .blurb-text p {
    font-size: 14px;
  }
  .bot-nav {
    display: inherit;
  }
  .side-nav {
    display: none;
  }
  .section-intro {
    height: 120vh;
    padding-bottom: 100px;
  }
  .section-intro .name-title {
    top: 25%;
    width: 100%;
    animation: fade-in 1s ease-in 0.25s 1 forwards, m-title-lift 1s ease-out 2s 1 forwards;
  }
  .section-intro .intro-content {
    top: 15%;
    transform: translate(-50%, 0);
    width: 80%;
  }
  .section-intro .intro-content .lists .list {
    padding-bottom: 1em;
    width: 100%;
  }
  .section-intro .intro-content .lists .list li {
    font-size: 12px;
  }
  .section-projects .expand {
    height: 750px;
  }
  .section-experience .section-blurb {
    min-height: 320px;
  }
  .section-experience .expand {
    height: 650px;
  }
  .section-contact {
    padding-bottom: 0;
  }
  .section-contact p {
    margin-top: 10%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #363636;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
  }
  .section-contact .contact-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2em auto;
  }
  .section-contact .contact-wrapper .input:focus {
    border: none;
  }
  .section-contact .contact-wrapper .submit {
    margin-bottom: 0;
  }
  .modal-wrapper {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }
  .modal-wrapper .modal-bg {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
  }
  .modal-wrapper .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 90%;
    background-color: #e3e3e3;
  }
  .modal-wrapper h3 {
    font-family: "Montserrat", sans-serif;
    color: #363636;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    text-align: center;
  }
}/*# sourceMappingURL=stylesheet.css.map */